<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleepy.manager.generation.mapper.TagMapper">

    <resultMap type="Tag" id="TagResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="bgColor" column="bg_color"/>
        <result property="textColor" column="text_color"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectTagVo">
        select id, title, bg_color, text_color, created_at, updated_at, status
        from tag
    </sql>

    <select id="selectTagList" parameterType="Tag" resultMap="TagResult">
        <include refid="selectTagVo"/>
        <where>
            <if test="title != null  and title != ''">
                and title = #{title}
            </if>
            <if test="bgColor != null  and bgColor != ''">
                and bg_color = #{bgColor}
            </if>
            <if test="textColor != null  and textColor != ''">
                and text_color = #{textColor}
            </if>
            <if test="createdAt != null ">
                and created_at = #{createdAt}
            </if>
            <if test="createdAtStart != null and createdAtEnd != null ">
                and created_at between #{createdAtStart} and #{createdAtEnd}
            </if>
            <if test="updatedAt != null ">
                and updated_at = #{updatedAt}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
            <if test="status == null ">
                and status = 1
            </if>
        </where>
    </select>

    <select id="selectTagById" parameterType="Long"
            resultMap="TagResult">
        <include refid="selectTagVo"/>
        where id = #{id}
    </select>

    <insert id="insertTag" parameterType="Tag" useGeneratedKeys="true"
            keyProperty="id">
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,
            </if>
            <if test="bgColor != null">bg_color,
            </if>
            <if test="textColor != null">text_color,
            </if>
            <if test="createdAt != null">created_at,
            </if>
            <if test="updatedAt != null">updated_at,
            </if>
            <if test="status != null">status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},
            </if>
            <if test="bgColor != null">#{bgColor},
            </if>
            <if test="textColor != null">#{textColor},
            </if>
            <if test="createdAt != null">#{createdAt},
            </if>
            <if test="updatedAt != null">#{updatedAt},
            </if>
            <if test="status != null">#{status},
            </if>
        </trim>
    </insert>

    <update id="updateTag" parameterType="Tag">
        update tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title =
                #{title},
            </if>
            <if test="bgColor != null">bg_color =
                #{bgColor},
            </if>
            <if test="textColor != null">text_color =
                #{textColor},
            </if>
            <if test="createdAt != null">created_at =
                #{createdAt},
            </if>
            <if test="updatedAt != null">updated_at =
                #{updatedAt},
            </if>
            <if test="status != null">status =
                #{status},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTagById" parameterType="Long">
        delete
        from tag
        where id = #{id}
    </delete>

    <delete id="deleteTagByIds" parameterType="String">
        delete from tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>