<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleepy.manager.system.mapper.BookmarkMapper">

    <resultMap type="Bookmark" id="BookmarkResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="address" column="address"/>
        <result property="intro" column="intro"/>
        <result property="cover" column="cover"/>
        <result property="icon" column="icon"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectBookmarkVo">
        select id,
               title,
               address,
               intro,
               cover,
               icon,
               created_at,
               updated_at,
               created_by,
               status
        from bookmark
    </sql>

    <select id="selectBookmarkList" parameterType="Bookmark" resultMap="BookmarkResult">
        <include refid="selectBookmarkVo"/>
        <where>
            <if test="title != null  and title != ''">and title like concat('%', #{title}, '%')</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="intro != null  and intro != ''">and intro = #{intro}</if>
            <if test="cover != null  and cover != ''">and cover = #{cover}</if>
            <if test="icon != null  and icon != ''">and icon = #{icon}</if>
            <if test="createdAt != null ">and created_at = #{createdAt}</if>
            <if test="updatedAt != null ">and updated_at = #{updatedAt}</if>
            <if test="createdBy != null ">and created_by = #{createdBy}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectBookmarkById" parameterType="Long" resultMap="BookmarkResult">
        <include refid="selectBookmarkVo"/>
        where id = #{id}
    </select>

    <insert id="insertBookmark" parameterType="Bookmark" useGeneratedKeys="true" keyProperty="id">
        insert into bookmark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="address != null">address,</if>
            <if test="intro != null and intro != ''">intro,</if>
            <if test="cover != null">cover,</if>
            <if test="icon != null">icon,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="address != null">#{address},</if>
            <if test="intro != null and intro != ''">#{intro},</if>
            <if test="cover != null">#{cover},</if>
            <if test="icon != null">#{icon},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateBookmark" parameterType="Bookmark">
        update bookmark
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="address != null">address = #{address},</if>
            <if test="intro != null and intro != ''">intro = #{intro},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBookmarkById" parameterType="Long">
        delete
        from bookmark
        where id = #{id}
    </delete>

    <delete id="deleteBookmarkByIds" parameterType="String">
        delete from bookmark where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>